:root {
    --bg: #231f20;
    --text-principal: #efe6dd;
}

body,
html {
    padding: 0;
    margin: 0;

    font-family: 'Poppins', 'Roboto', sans-serif;
    background-color: var(--bg);
    color: var(--text-principal);
    overflow: hidden;

}

.cnt__general {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.img__fondo {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: zoom-in-zoom-out 30s ease infinite;
    object-fit: cover !important;
    box-sizing: border-box;
}

.lamina {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    /* From https://css.glass */
    background: rgba(35, 31, 32, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    border: 1px solid rgba(35, 31, 32, 0.3);

    box-sizing: border-box;

}

@keyframes zoom-in-zoom-out {

    0% {
        transform: scale(1.2, 1.2);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1.2, 1.2);
    }

}

.cnt__info{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    font-size: 17px;
}

#img__album{
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.text__tema__actual{
    text-align: center;
}

.boton{
    width: 50px;
    height: 50px;
    font-size: 28pt;
    color: var(--text-principal);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
    
}

.boton:hover{
    opacity: 0.7;
}

#volume {
    -webkit-appearance: none;
    border-radius: 10px;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    cursor: pointer;
    margin-top: 20px;
}

#volume:hover {
    opacity: 1;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--text-principal);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.img__logo{
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0;
   
}

.img__logo_png {
    width: 400px; 
    height: auto;
    object-fit: contain; 
    background: none;
}


.nombre__radio{
    font-weight: bold;
    font-size: 1.3rem;
}

.imgs__apps{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    top: 50px;
    right: 28px;
    z-index: 10;
    
    
}

.imgs__icon a{
    color: var(--text-principal);
    transition: 1s;
}
.imgs__icon a:hover{
    opacity: 0.7;
}



.redes{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    z-index: 10;
    
}



.redes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
}
.redes ul li a {
    color: var(--text-principal);
    text-decoration: none;
    transition: 1s;
}
.redes ul li a:hover {
    opacity: 0.7;
}

.redes ul li a i {
    border-radius: 50%;
    padding: 0.1rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wsp {
    position: absolute;
    bottom: 1.7rem;
    right: 1.7rem;
    z-index: 999;
    animation:animated_wsp 3s ease infinite;
}

.wsp a{
    text-decoration: none;
    color: var(--text-principal);
    padding: 0;
}
.wsp a i {
    display: flex;
    padding: 0;
    font-size: 2rem;
    transition: 0.3s;
}

.wsp a i:hover{
    opacity: 0.7;
}

@keyframes animated_wsp {
    0% {
        transform: scale(1.2, 1.2);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1.2, 1.2);
    }
}



@media screen and (max-width:449px){
    .img__logo_png{
        display: none;
    }
    .nombre__radio{
        display: none;
    }
    .redes ul li a i{
        width: 10px;
        height: 10px;
    }
    .wsp a i{
        font-size: 1.3rem;
    }
    .animacion{
        bottom: 0.1rem;
        left: 0.2rem;
    }
    .gif{
        width: 10px;
        height: 10px;
    }
    #img__album{
        width: 10rem;
    }
    
}

@media screen and (max-width:529px){
    .img__logo_png{
        width: 300px;
    }
    .nombre__radio{
        font-size: 2.6rem;
    }
    #img__album{
        width: 13rem;
    }
}

@media screen and (max-width:681px){
    .img__logo_png{
        width: 250px;
    }
    .nombre__radio{
        font-size: 2.8rem;
    }
    #img__album{
        width: 14rem;
    }
}

@media screen and (max-width: 964px) {
    .img__logo_png{
        width: 10rem;
    }
    .imgs__apps{
        align-items: center;
    }
    .nombre__radio{
        font-size: 4rem;
    }
    #img__album {
        width: 10rem;
    }
}




